<p id="notice"><%= notice %></p>
<%if (can? :edit, Team) %>
<div class="search-div"> 
	<%= link_to '', @team, confirm: 'Are you sure you want to delete this team?', method: :delete  ,:id=>"deletelink"%>
<Button class="new_item_button" onClick = "return TINY.box.show({url:'<%=edit_event_path(@team)%>',close:true})">Modify</Button>
<button class="new_item_button" onclick="document.getElementById('deletelink').click()">Delete</button>
</div> 
<%#= link_to 'Edit', edit_event_path(@event) %> 
<%end%>
<p>
  <b>Division:</b>
    <%= @team.division.name %>
</p>

<p>
  <b>Playerone:</b>
    <%= @team.playerone.Full_Name %>
</p>

<p>
  <b>Playertwo:</b>
  <%= @team.playertwo.Full_Name %>
</p>


<%#= link_to 'Edit', edit_team_path(@team) %> 
<%= link_to 'Back', teams_path %>
