<h1>Fixtures</h1>

<div class="search-div"> 
<%if (can? :create, Fixture) %>

<Button class="new_item_button" onClick = "return TINY.box.show({url:'<%=new_fixture_url%>',close:true})">Create Fixture</Button>
<Button class="new_item_button" onClick = "window.location.href='<%=autogen_fixtures_url%>'">Auto-Generate Fixtures</Button>
<Button class="new_item_button" onClick = "return TINY.box.show({url:'<%=sendfixtures_fixtures_url%>',close:true})">Send to Players</Button>
<Button class="new_item_button" onClick = "return TINY.box.show({url:'<%=remove_fixtures_url%>',close:true})">Delete all future fixtures</Button>
</br>
</br>
<%end%>
<%=form_for(:fixture , :url=>fixtures_url) do |f|%>
Division <%= f.collection_select :division_id, Division.all, :id, :name, include_blank: true %>
Team<%=f.grouped_collection_select :teamone_id, Division.order("created_at ASC"), :teams, :name, :id, :Team_Name, include_blank: true%>
<%=f.submit "Filter"%>
<%end%>
</div> 

<%= paginate @fixtures %>

<table id="gradient-style">
	<thead>
  <tr>
  	<th scope="col">Date</th>
    <th scope="col">Team One</th>
    <th scope="col">Team Two</th>
    <th scope="col">Division</th>
    <th scope="col">Court</th>

    
<!--    <th></th>
    <th></th>
    <th></th> -->
  </tr>
  </thead>
  	<tfoot>
    	<tr>
        	<td colspan="5">Give background color to the table cells to achieve seamless transition</td>
        </tr>
	</tfoot>
<tbody>
<% @fixtures.each do |fixture| %>
  <tr data-href="<%= fixture_path(fixture) %>" class="<%= cycle("odd", "even") -%>">
  	<td><%= fixture.date %></td>
    <td><%= fixture.teamone.Team_Name %></td>
    <td><%= fixture.teamtwo.Team_Name %></td>
    <td><%= fixture.division.name %></td>
    <td><%= fixture.court.try(:court) %></td>


<!--    <td><%= link_to 'Show', fixture %></td>
    <td><%= link_to 'Edit', edit_fixture_path(fixture) %></td>
    <td><%= link_to 'Destroy', fixture, confirm: 'Are you sure?', method: :delete %></td> -->
  </tr>
<% end %>
</tbody>
</table>

<br />

<%#= link_to 'New Fixture', new_fixture_path %>
