<h1>Listing results</h1>
<%if (can? :create, Result) %>
<div class="search-div"> 
<Button class="new_item_button" onClick = "return TINY.box.show({url:'<%=new_result_url%>',close:true})">Add Result</Button>
</div> 
<%end%>
<%= paginate @results %>


<table id="gradient-style" style="width:100%;">
	<thead>
  <tr>
  	<th scope="col">Results</th>

  </tr>
  </thead>
  	<tfoot>
    	<tr>
        	<td colspan="5">Give background color to the table cells to achieve seamless transition</td>
        </tr>
	</tfoot>
<tbody>
<% @results.each do |result| %>
  <tr>
  	<td>
  		<table style="width:100%;"><tr>
  			<td style="text-align: center;" >On: <%= result.date.strftime('%a %d %b %Y') %>
   			    At: <%= result.court %> 
    		 Division: <%= result.fixture.try(:division).try(:name) %> 
   			 Fixture: <%= link_to result.fixture.try(:id) , fixture_url(result.fixture)%></td>
              </tr>
         </table>
     </td>
   </tr>
   <tr>
     <td>
     	<table style="width:100%;"><tr>
   				<td style="text-align: center; "><%= result.teamone %></td>
    			<td style="text-align: center ; "><%= result.teamtwo %></td>
    		   </tr>
    		    
        </table>
     </td>
   </tr>
   
   
   
   <tr>
      				<td>
      					<table style="width:100%;"><tr>
    							<td style="text-align: center ;  font-weight:900;" ><%= result.set1team1 %></td>
    							<td style="text-align: center ;  font-weight:900;"><%= result.set2team1 %></td>
    							<td style="text-align: center ;  font-weight:900;"><%= result.set3team1 %></td>
    							<td style="text-align: center ;  font-weight:900;"><%= result.set1team2 %></td>
    							
    							<td style="text-align: center ;  font-weight:900;"><%= result.set2team2 %></td>
    							
    							<td style="text-align: center ; font-weight:900;"><%= result.set3team2 %></td>
							  </tr>
					  </table>
					</td>
    			</tr>	
   
   
   
    <tr>
    <td><%= link_to 'Details', result %></td>
    
  </tr>
<% end %>
</tbody>
</table>

<br />

<%#= link_to 'New Result', new_result_path %>
