<h1>Listing results</h1>
<%if (can? :create, Result) %>
<div class="search-div"> 
<Button class="new_item_button" onClick = "return TINY.box.show({url:'<%=new_result_url%>',close:true})">Add Result</Button>
</div> 
<%end%>
<%= paginate @results %>


<table id="gradient-style">
	<thead>
  <tr>
  	<th scope="col">Date</th>
  	<th scope="col">Court</th>
    <th scope="col">Division</th>
	<th scope="col">Fixture</th>


    <th scope="col">S1 T1</th>
    <th scope="col">S1 T2</th>
    <th scope="col">S2 T1</th>
    <th scope="col">S2 T2</th>
    <th scope="col">S3 T1</th>
    <th scope="col">S3 T2</th>
    <th scope="col">Team1</th>
    <th scope="col">Team2</th>
    <th scope="col">Details...</th>
    
<!--    <th></th>
    <th></th>
    <th></th> -->
  </tr>
  </thead>
  	<tfoot>
    	<tr>
        	<td colspan="5">Give background color to the table cells to achieve seamless transition</td>
        </tr>
	</tfoot>
<tbody>
<% @results.each do |result| %>
  <tr>
  	<td><%= result.date %></td>
    <td><%= result.court %></td>
    <td><%= result.fixture.try(:division).try(:name) %></td>
    <td><%= link_to result.fixture.try(:id) , fixture_url(result.fixture)%></td>
    <td><%= result.set1team1 %></td>
    <td><%= result.set1team2 %></td>
    <td><%= result.set2team1 %></td>
    <td><%= result.set2team2 %></td>
    <td><%= result.set3team1 %></td>
    <td><%= result.set3team2 %></td>
    <td><%= result.team1 %></td>
    <td><%= result.team2 %></td>
    <td><%= link_to 'Details', result %></td>
    
  </tr>
<% end %>
</tbody>
</table>

<br />

<%#= link_to 'New Result', new_result_path %>
