<p id="notice"><%= notice %></p>
<%if (can? :edit, Result) %>
<div class="search-div"> 
	<%= link_to '', @result, confirm: 'Are you sure you want to delete this result?', method: :delete  ,:id=>"deletelink"%>
<Button class="new_item_button" onClick = "return TINY.box.show({url:'<%=edit_result_path(@result)%>',close:true})">Modify</Button>
<button class="new_item_button" onclick="document.getElementById('deletelink').click()">Delete</button>
</div> 
<%#= link_to 'Edit', edit_event_path(@event) %> 
<%end%>
<p>
  <b>Fixture:</b>
  <%= @result.fixture %>
</p>

<p>
  <b>Set1team1:</b>
  <%= @result.set1team1 %>
</p>

<p>
  <b>Set1team2:</b>
  <%= @result.set1team2 %>
</p>

<p>
  <b>Set2team1:</b>
  <%= @result.set2team1 %>
</p>

<p>
  <b>Set2team2:</b>
  <%= @result.set2team2 %>
</p>

<p>
  <b>Set3team1:</b>
  <%= @result.set3team1 %>
</p>

<p>
  <b>Set3team2:</b>
  <%= @result.set3team2 %>
</p>

<p>
  <b>Team1:</b>
  <%= @result.team1 %>
</p>

<p>
  <b>Team2:</b>
  <%= @result.team2 %>
</p>


<%#= link_to 'Edit', edit_result_path(@result) %> 
<%= link_to 'Back', results_path %>
