<p id="notice"><%= notice %></p>

<p>
  <b>Fixture:</b>
  <%= @result.fixture %>
</p>

<p>
  <b>Set1team1:</b>
  <%= @result.set1team1 %>
</p>

<p>
  <b>Set1team2:</b>
  <%= @result.set1team2 %>
</p>

<p>
  <b>Set2team1:</b>
  <%= @result.set2team1 %>
</p>

<p>
  <b>Set2team2:</b>
  <%= @result.set2team2 %>
</p>

<p>
  <b>Set3team1:</b>
  <%= @result.set3team1 %>
</p>

<p>
  <b>Set3team2:</b>
  <%= @result.set3team2 %>
</p>

<p>
  <b>Team1:</b>
  <%= @result.team1 %>
</p>

<p>
  <b>Team2:</b>
  <%= @result.team2 %>
</p>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
