<p id="notice"><%= notice %></p>
<%if (can? :edit, Event) %>
<div class="search-div"> 
	<%= link_to '', @event, confirm: 'Are you sure you want to delete this event?', method: :delete  ,:id=>"deletelink"%>
<Button class="new_item_button" onClick = "return TINY.box.show({url:'<%=edit_event_path(@event)%>',close:true})">Modify</Button>
<button class="new_item_button" onclick="document.getElementById('deletelink').click()">Delete</button>
</div> 
<%#= link_to 'Edit', edit_event_path(@event) %> 
<%end%>
<p>
 
  <b><%= @event.title %></b>
</p>

<p>

  
  <%= @event.description %>
</p>
<p>

<%= image_tag @event.img.url %>
</p>





<p>
</br>
  <b>Event details:</b>
  </br>
  <%= @event.body %>
</p>

<p>
  <b>Date: </b>
  <%= @event.date %>
</p>



<%= link_to 'All events', events_path %>
