<p id="notice"><%= notice %></p>

<p>
  <b>Court:</b>
  <%= @court.court %>
</p>

<p>
  <b>Lights:</b>
  <%= @court.lights %>
</p>

<p>
  <b>Name:</b>
  <%= @court.name %>
</p>

<p>
  <b>Address:</b>
  <%= @court.address %>
</p>

<p>
  <b>Home:</b>
  <%= @court.home %>
</p>

<p>
  <b>Mobile:</b>
  <%= @court.mobile %>
</p>


<%= link_to 'Edit', edit_court_path(@court) %> |
<%= link_to 'Back', courts_path %>
