<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="form-left">
  	<div class="field">
    <%= f.label :Mailing_ListID %><br />
    <%= f.number_field :Mailing_ListID %>
  </div>
  <div class="field">
    <%= f.label :Title %><br />
    <%= f.text_field :Title %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  	  <div class="field">
    <%= f.label :Home_Phone %><br />
    <%= f.text_field :Home_Phone %>
  </div>
  <div class="field">
    <%= f.label :Work_Phone %><br />
    <%= f.text_field :Work_Phone %>
  </div>
  <div class="field">
    <%= f.label :division_id %><br />
    <%= f.collection_select :division_id, Division.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :pot_luck %><br />
    <%= f.check_box :pot_luck %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Over_55s %><br />
    <%= f.check_box :Over_55s %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
  
  <div id="form-right">
  	
  	<div class="field">
    <%= f.label :Address1 %><br />
    <%= f.text_area :Address1, :rows => 1 %>
  </div>
  <div class="field">
    <%= f.label :Address2 %><br />
    <%= f.text_area :Address2, :rows => 1 %>
  </div>
  <div class="field">
    <%= f.label :Address3 %><br />
    <%= f.text_area :Address3, :rows => 1 %>
  </div>
  <div class="field">
    <%= f.label :Address4 %><br />
    <%= f.text_area :Address4, :rows => 1 %>
  </div>	
  <div class="field">
    <%= f.label :Address5 %><br />
    <%= f.text_area :Address5, :rows => 1 %>
  </div>
  <div class="field">
    <%= f.label :Postal_Code %><br />
    <%= f.text_field :Postal_Code %>
  </div>
  	
  </div>
  
  
<% end %>
