<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Tennis Widows League : " %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
  </head>
  <body id="page_bg">
    <div id="container">
<!--      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
    -->  	
<center><%= image_tag("top.png", :alt => "") %></center>
<!--
	<div id="top_menu"><div id="topnav"><ul class="menuhor"><li><a href="http://31-222-140-201.static.cloud-ips.co.uk:8080/joomla/" class="active first-item" id="menu1" title=""><span>Home</span></a></li><li><a href="/joomla/index.php?option=com_content&amp;view=article&amp;id=46&amp;Itemid=27"  id="menu27" title=""><span>Rules</span></a></li><li><a href="/joomla/index.php?option=com_content&amp;view=article&amp;id=47&amp;Itemid=2"  id="menu2" title=""><span>League</span></a><ul><li><a href="/joomla/index.php?option=com_content&amp;view=article&amp;id=48&amp;Itemid=53" class="first-item" id="menu53" title=""><span>Courts</span></a></li><li><a href="/joomla/index.php?option=com_content&amp;view=article&amp;id=64&amp;Itemid=55" class="last-item" id="menu55" title=""><span>Divisions</span></a></li></ul></li><li><a href="/joomla/index.php?option=com_content&amp;view=section&amp;id=4&amp;Itemid=37" class="last-item" id="menu37" title=""><span>Fixtures</span></a><ul><li><a href="/joomla/index.php?option=com_content&amp;view=category&amp;id=34&amp;Itemid=54" class="first-item" id="menu54" title=""><span>by Week</span></a></li></ul></li></ul></div></div>
	
	<div id="top_menu"><div id="topnav"><ul class="menuhor"><li><a href="" class="active first-item" id="menu1" title=""><span>Home</span></a></li><li><a href=""  id="menu27" title=""><span>Rules</span></a></li><li><a href=""  id="menu2" title=""><span>League</span></a><ul><li><a href="" class="first-item" id="menu53" title=""><span>Courts</span></a></li><li><a href="" class="last-item" id="menu55" title=""><span>Divisions</span></a></li></ul></li><li><a href="" class="last-item" id="menu37" title=""><span>Fixtures</span></a><ul><li><a href="" class="first-item" id="menu54" title=""><span>by Week</span></a></li></ul></li></ul></div></div>
-->
	
<div id="top_menu">
	<div id="topnav">
		<ul class="menuhor">
			<li><%= link_to "Home", root_path, :class => "active first-item",:id => "menu1" %></li>
			<li><%= link_to "Rules", info_rules_path, :id => "menu27" %></li>
			<li><%= link_to "Players", players_path ,:id => "menu2" %>
				<ul>
					<li><%= link_to "Premier", premier_players_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 1", div1_players_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 2", div2_players_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 3", div3_players_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 4", div4_players_path, :class => "first-item", :id => "menu54" %></li>	
				</ul>
			</li>
					
			<li><%= link_to "Teams", teams_path ,:id => "menu2" %>
				<ul>
					<li><%= link_to "Premier", premier_teams_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 1", div1_teams_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 2", div2_teams_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 3", div3_teams_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 4", div4_teams_path, :class => "first-item", :id => "menu54" %></li>	
				</ul>
						
			
						
						
					<li><%= link_to "Courts", courts_path, :id => "menu27" %></li>
					<li><%= link_to "Results", results_path ,:id => "menu2" %></li>
					</li>
					<li><%= link_to "Fixtures", fixtures_path ,:id => "menu2" %></li>
					<li><%= link_to "Events", events_path ,:id => "menu2" %></li>

						

					 <% if signed_in? %>
					<li><%= link_to "Log out", destroy_user_session_path, :method => :delete %>
					<%else%>
					
					<li><%= link_to "Log In" ,new_user_session_path,:id=>"menu9" %>
					<ul>
						<li><%= link_to "Administrator", new_user_session_path, :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Player", new_user_session_path, :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Premier", new_user_session_path, :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Division 1", new_user_session_path, :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Division 2", new_user_session_path, :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Division 3", new_user_session_path, :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Division 4", new_user_session_path, :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Manage Site", root_url+"admin" ,:id => "menu2" %></li>
					</ul>
					<%end%>
			</li>
			
		</ul>
	</div>
</div>

<div id="main_bg">

    <div id="h_area">

        <br clear="all" />

	                    <div id="main_top" class="banner"></div>

        	

    	

    </div>

	
        	<div id="maincolumn_middle">



    	<div class="nopad"><table class="blog" cellpadding="0" cellspacing="0">
<tr>
	<td valign="top">
					<div>
		
<table class="contentpaneopen">




<tr>
<td valign="top" colspan="2">
      
      <%= yield %>
      
      </td>
</tr>


</table>
<span class="article_separator">&nbsp;</span>
		</div>
		</td>
</tr>


</table>
</div>

    </div>

    	<br clear="all" />

</div>    

    

<div id="f_area">

			<br clear="all" /><center><%= image_tag("bottom.png", :alt => "") %></center>

</div>







    </div>
  </body>
</html>
