<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Tennis Widows League : " %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
  </head>
  <body id="page_bg">
    <div id="container">
<!--      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
    -->  	
<center><%= image_tag("top.png", :alt => "") %></center>
<!--
	<div id="top_menu"><div id="topnav"><ul class="menuhor"><li><a href="http://31-222-140-201.static.cloud-ips.co.uk:8080/joomla/" class="active first-item" id="menu1" title=""><span>Home</span></a></li><li><a href="/joomla/index.php?option=com_content&amp;view=article&amp;id=46&amp;Itemid=27"  id="menu27" title=""><span>Rules</span></a></li><li><a href="/joomla/index.php?option=com_content&amp;view=article&amp;id=47&amp;Itemid=2"  id="menu2" title=""><span>League</span></a><ul><li><a href="/joomla/index.php?option=com_content&amp;view=article&amp;id=48&amp;Itemid=53" class="first-item" id="menu53" title=""><span>Courts</span></a></li><li><a href="/joomla/index.php?option=com_content&amp;view=article&amp;id=64&amp;Itemid=55" class="last-item" id="menu55" title=""><span>Divisions</span></a></li></ul></li><li><a href="/joomla/index.php?option=com_content&amp;view=section&amp;id=4&amp;Itemid=37" class="last-item" id="menu37" title=""><span>Fixtures</span></a><ul><li><a href="/joomla/index.php?option=com_content&amp;view=category&amp;id=34&amp;Itemid=54" class="first-item" id="menu54" title=""><span>by Week</span></a></li></ul></li></ul></div></div>
	
	<div id="top_menu"><div id="topnav"><ul class="menuhor"><li><a href="" class="active first-item" id="menu1" title=""><span>Home</span></a></li><li><a href=""  id="menu27" title=""><span>Rules</span></a></li><li><a href=""  id="menu2" title=""><span>League</span></a><ul><li><a href="" class="first-item" id="menu53" title=""><span>Courts</span></a></li><li><a href="" class="last-item" id="menu55" title=""><span>Divisions</span></a></li></ul></li><li><a href="" class="last-item" id="menu37" title=""><span>Fixtures</span></a><ul><li><a href="" class="first-item" id="menu54" title=""><span>by Week</span></a></li></ul></li></ul></div></div>
-->
	
<div id="top_menu">
	<div id="topnav">
		<ul class="menuhor">
			<li><%= link_to "Home", root_path, :class => "active first-item",:id => "menu1" %></li>
			<li><%= link_to "Rules", info_rules_path, :id => "menu27" %></li>
			<li><%= link_to "Players", players_path ,:id => "menu2" %>
				<ul>
					<li><%= link_to "Premier", premier_players_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 1", div1_players_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 2", div2_players_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 3", div3_players_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 4", div4_players_path, :class => "first-item", :id => "menu54" %></li>	
				</ul>
			</li>
					
			<li><%= link_to "Teams", teams_path ,:id => "menu2" %>
				<ul>
					<li><%= link_to "Premier", premier_teams_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 1", div1_teams_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 2", div2_teams_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 3", div3_teams_path, :class => "first-item", :id => "menu54" %></li>
					<li><%= link_to "Division 4", div4_teams_path, :class => "first-item", :id => "menu54" %></li>	
				</ul>
						
			
						
						
					<li><%= link_to "Courts", courts_path, :id => "menu27" %></li>
					<li><%= link_to "Results", results_path ,:id => "menu2" %></li>
					</li>
					<li><%= link_to "Fixtures", fixtures_path ,:id => "menu2" %></li>
					<li><%= link_to "Events", events_path ,:id => "menu2" %></li>
					<li><%= link_to "Log In" ,"",:id=>"menu9" %>
					<ul>
						<li><%= link_to "Administrator", "", :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Player", "", :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Premier", "", :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Division 1", "", :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Division 2", "", :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Division 3", "", :class => "first-item", :id => "menu54" %></li>
						<li><%= link_to "Division 4", "", :class => "first-item", :id => "menu54" %></li>
					</ul>
			</li>
		</ul>
	</div>
</div>

<div id="main_bg">

    <div id="h_area">

        <br clear="all" />

	                    <div id="main_top" class="banner"></div>

        	

    	

    </div>

	<!--	<div id="leftcolumn">

        		<div class="module">
			<div>
				<div>
					<div>
													<h3>Login Form</h3>
													
	<!-- 
   
 
											<form action="/joomla/index.php" method="post" name="login" id="form-login" >
		<fieldset class="input">
	<p id="form-login-username">
		<label for="modlgn_username">Username</label><br />
		<input id="modlgn_username" type="text" name="username" class="inputbox" alt="username" size="18" />
	</p>
	<p id="form-login-password">
		<label for="modlgn_passwd">Password</label><br />
		<input id="modlgn_passwd" type="password" name="passwd" class="inputbox" size="18" alt="password" />
	</p>
		<p id="form-login-remember">
		<label for="modlgn_remember">Remember Me</label>
		<input id="modlgn_remember" type="checkbox" name="remember" class="inputbox" value="yes" alt="Remember Me" />
	</p>
		<input type="submit" name="Submit" class="button" value="Login" />
	</fieldset>
	<ul>
		<li>
			<a href="/joomla/index.php?option=com_user&amp;view=reset">
			Forgot your password?</a>
		</li>
		<li>
			<a href="/joomla/index.php?option=com_user&amp;view=remind">
			Forgot your username?</a>
		</li>
				<li>
			<a href="/joomla/index.php?option=com_user&amp;view=register">
				Create an account</a>
		</li>
			</ul>
	
	<input type="hidden" name="option" value="com_user" />
	<input type="hidden" name="task" value="login" />
	<input type="hidden" name="return" value="L2pvb21sYS8=" />
	<input type="hidden" name="c09d4bbdd65017484a112bfc7bc8fe97" value="1" /></form>
	-->
	<!--
	<% if logged_in? %>
     Welcome <%= current_user.username %>.
     <%= link_to "Edit profile", edit_current_user_path %> or
     <%= link_to "Log out", logout_path %>
   <% else %>
     <%= link_to "Sign up", signup_path %> or
     <%= link_to "log in", login_path %>.
   <% end %>
					</div>
				</div>
			</div>
		</div>

    </div>
 -->
        	<div id="maincolumn_middle">



    	<div class="nopad"><table class="blog" cellpadding="0" cellspacing="0">
<tr>
	<td valign="top">
					<div>
		
<table class="contentpaneopen">




<tr>
<td valign="top" colspan="2">
      
      <%= yield %>
      
      </td>
</tr>


</table>
<span class="article_separator">&nbsp;</span>
		</div>
		</td>
</tr>


</table>
</div>

    </div>

    	<br clear="all" />

</div>    

    

<div id="f_area">

			<br clear="all" /><center><%= image_tag("bottom.png", :alt => "") %></center>

</div>







    </div>
  </body>
</html>
